<div class="login-form-container">
  <form (ngSubmit)="submitLogin()" #loginForm="ngForm" class="login-form">
    <div class="mb-3">
      <label for="userName" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="userName"
        name="userName"
        required
        [(ngModel)]="userName"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary submit-login"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>

    <button
      type="button"
      class="btn btn-primary toggle-user-list"
      (click)="toggleUserSelect()"
    >
      {{ userSelectListVisible ? "Close user list" : "Select user from list" }}
    </button>

    <div class="error-message" *ngIf="auth.errorMessage">
      {{ auth.errorMessage }}
    </div>
  </form>


</div>
  <div class="user-list-container">
    <ul class="list-group user-list" *ngIf="userSelectListVisible">
      <li
        class="list-group-item user-account"
        *ngFor="let user of userList"
        (click)="selectUserAccount(user.userName)"
      >
        {{ user.fullName }}
      </li>
    </ul>
  </div>
